@media only screen and (min-width:786px){
  nav {
      display:container;
      margin-right:20%;
      margin-left:20%;
  }
  nav > ul {
      padding:0;
      
  }
  
  nav > ul {
    display: flex;
    padding-inline-start:0px;
  }
  
  nav > ul > li {
    flex:1;
    display: flex;
    justify-content:space-evenly;
  }
  li > a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    letter-spacing:2px;
  }
  .mobileMenu{
      display:none
  }
  
}
@media only screen and (max-width:786px){
  nav{
      display: none;
  }
  a {
      color: black;
      text-decoration: none;
      font-weight: 400;
      letter-spacing:2px;
  }

}