@media only screen and (min-width:786px){
    .contentExcerpt{
        /* autoprefixer: off */
        -webkit-box-orient: vertical !important;
        /* autoprefixer: on */
        font-family: 'Melon Hunter' !important;
        font-size: 1.75rem !important;
        font-weight: 400 !important;
        overflow:hidden;
        text-overflow: ellipsis;
        -moz-box-orient: vertical !important;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        min-height: 50px !important;
        display: -webkit-box;
    }   
}